#
# Useful references:
# https://docs.docker.com/compose/compose-file/
# https://docs.docker.com/compose/reference/overview/#use--f-to-specify-name-and-path-of-one-or-more-compose-files
# https://docs.docker.com/compose/reference/envvars/
#
services:
  ionosdnsupdater:
    image: goodlinux/ionosdnsupdater:latest
    container_name: ionosdnsupdater-dynip
    restart: always
    env_file:
      - ./dnsupdater.env
    secrets:
       - api_key
       - box_password

secrets:
   api_key:
     file: ./api_key.txt
   box_password:
     file: ./box_password.txt
